{% extends 'loan/base.html' %}

{% block content %}
<h1>All Customers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for customer in customers %}
    <tr>
      <td>{{ customer.customer_name }}</td>
      <td>{{ customer.customer_email }}</td>
      <td>{{ customer.customer_phone_number }}</td>
      <td><a href="{% url 'customer_detail' customer.pk %}">Details</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
